body {background-color: whitesmoke;}

    
}
p {color: aliceblue
    
}

#nav_cus_1 { font-weight: bold;
}

img {
   padding:1px;
   border:1px solid #021a40;
   background-color:#777777;
}

/*Type of CSS selectors */
span{
    color: ghostwhite;
}


/*Selecting elements of a certain state*/
 /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lightsteelblue;
}

/* mouse over link */
a:hover {
  color: darkredA;
}

/* selected link */
a:active {
  color: midnightblue;
} 

